<div class="container">
  <fieldset>
    <h1 class="mb-3">Movies' lists</h1>
    <form action="/lists" method="get">
      <div class="form-group d-flex mb-3">
        <input type="search" name="query" class="form-control" placeholder="Search a list">
        <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
    <%= link_to 'Create new list', new_list_path, class: "btn btn-primary text-decoration-none mb-3" %>
  </fieldset>
</div>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list.id) do %>
          <div class="card">
            <% if list.photo.attached? %>
              <%= cl_image_tag list.photo.key, width: 300, height: 200, crop: :fill %>
            <% else %>
              <%= image_tag "default_image.png", width: 300, height: 200, crop: :fill%>
            <% end %>
            <%= list.name%>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
