<div class="container">
  <div class="container d-flex">
    <h2><%= @list.name.capitalize %></h2>
    <div><%= link_to 'Edit list name', edit_list_path, class: "ms-3" %></div>
  </div>
  <div>
  <%= link_to 'Add a movie to this list', new_list_bookmark_path(@list), class: "btn btn-success text-decoration-none"  %>
  <%= link_to "Delete list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger text-decoration-none"  %>
  </div>
  <%= link_to 'Return to the main menu', lists_path, class: "btn btn-info text-decoration-none mt-4 mb-3" %>
  <h2>Movies</h2>
  <ul class="list-group d-flex">
    <% @list.movies.each do |movie| %>
      <li class="list-group-item">
      <%= movie.title %>
       </li>
    <% end %>
  </ul>
  <br>
</div>
