<div class="container">
<h1>Add a movie to "<%= @list.name %>"</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Add movie", class: "btn btn-primary text-decoration-none mb-3"  %>
  <% end %>
</div>
<div class="container">
  <%= cl_image_tag("rkh1brepwgjmakoviipa",
        width: 400, height: 300, crop: :fill) %>

  <!-- for face detection -->
  <%= cl_image_tag("developement/cld-sample",
        width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>
